@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* Body styling */
body {
    display: flex;
    height: 97.5vh;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #3c3c3c;
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    font-size: 8em;
    align-items: center;
    text-align: right;
}

/* Header Styling */
#headerContainer{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1e1e1e;
}
#headerContainer #headerTitle {
    padding-left: 2em;
}

.headerLink {
    color: white;
    text-decoration: none;
}

#scoreDiv {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 2em;
    background-color: #1e1e1e;
    color: white;
}

/* Formatted input box */
input[type=number]{
    text-align: right;
    background-color: #3c3c3c;
    color: white;
    /* border-radius: .25em; */

    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    
    border-style: solid;
    border-color: white;
    font-size: 1em;
    width: 2.3em;
    height: 1em;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

/* Hiding spinners on the number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* Timer CSS */
#timerDiv {
    font-size: .5em;
}


/* General styling for footer */
#footer {
    background-color: #1e1e1e;
    font-size: .1em;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding-top: 1vh;
    width: 100%;
    padding-bottom: 1vh;
}

/* Originally used for footer text, no longer there */
#footer p {
    margin-top: 1em;
    padding: 0;
}