/* Hiding spinners on the number input */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;  
}

#bodyContainer {
    display: flex;
    flex-direction: column;
    vertical-align: top;
}